@font-face {
    font-family: "Shabnam";
    src: url("fonts/Shabnam-FD.eot") format("embedded-opentype"),
    url("fonts/Shabnam-FD.ttf") format("truetype"),
    url("fonts/Shabnam-FD.woff") format("woff"),
    url("fonts/Shabnam-FD.woff2") format("woff2");
}


/* Normalize Css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: "Shabnam";
    background-color: #FAFAFA;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    font-family: "Shabnam";
}

pre {
    font-family: "Shabnam";
    font-size: 1em;
}

a {
    background-color: transparent;
    text-decoration: none;
}


/* Start Project */

*{
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1416px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 56px;
}

.header {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1416px;
    height: 25px;
}

.product-n {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}
div.product-n  > svg {
    width: 22px;
    height: 22px;
    color: #1E88E5;
}

.main {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 450px;
    gap: 25px;
    margin-top: 25px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 0px 30px 0px 20px;
    text-align: right;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 20px rgba(220, 220, 220, 0.966);
}

div.product img {
    margin-top: 20px;
    margin-bottom: 20px;
    /* height: 200px; */
    width: 100%;
}

div.product a {
    line-height: 1.5;
    margin-top: 15px;
}

.pro-detail {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

div.star svg {
    color: gold;
    height: 20px;
    width: 20px;
}

.precen {
    background-color: #E1F5FE;
    color: #0D47A1;
    padding: 3px;
}

.pro-detail__prc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    gap: 10px;
}

.price{
    display: flex;
    gap: 5px;
}

.price-r {
    text-decoration: line-through;
}

.star {
    display: flex;
    gap: 5px;
    align-items: center;
    padding-bottom: 20px;
}

